body{
    background: black;
    margin: 0;
    margin-top: 600px;
}

.Instagram-Post{
    width: 600px;
    margin: auto;
    background-color: white;
    font-family: "Raleway", sans-serif;
    padding-bottom: 30px;
}

#html5Icon{
    text-align: left;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 13px;
}

.Post-Header{
    width: 600px;
    height: 55px;
    background: white;
    display: flex;
    margin-bottom: 15px;
}

.Username{
    padding-left: 11px;
}

#VerticalDots{
    font-size: 37px;
    padding-top: 16px;
    padding-left: 406px;
    padding-right: 13px;
}

.Icons{
    margin-top: 13px;
    margin-bottom: 29px;
}

#HeartIcon{
    font-size: 40px;
    margin-left: 12px;
}

#BubbleIcon{
    font-size: 40px;
    margin-left: 8px;
}

#PlaneIcon{
    font-size: 40px;
    margin-right: 398px;
    margin-left: 8px;
}

#BookmarkIcon{
    font-size: 40px;
}

.Image-Post img{
    width: 100%;
}

.Post-Body .Post-Likes{
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
}

#Paragraph{
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
}